/**
Mobile CSS Queries
======
*/
@media only screen and (max-width: 800px){
    /** Disable main menu **/
    .main-menu{
        display: none;
    }
    .only-mob{
        display: block!important;
    }
    /** Display mobile menu*/
    .mobile-main-menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 999;
        padding: 12px 0;
        background: #f1f1f1;
        border-bottom: 1px solid #c1c1c1;
    }
    .mobile-main-menu .brand{width: 250px; display: inline-block;}
    .mobile-main-menu .brand img{width: 200px; margin: 0; padding: 0;}
    .mobile-main-menu .menu{
        width: calc(100% - 260px); 
        display:inline-block; 
        vertical-align: middle;
        text-align: right;
        padding: 0!important;
        margin: 0!important;
    }
    .mobile-main-menu .menu button{
        display: inline;
        width: 40px;
        float: right;
        border: none;
        background: none;
        margin: 0!important;
        border: 1px solid #c1c1c1;
        padding: 8px 0;
        color: rgb(44, 42, 42);
        border-radius: 5px;
        outline: none;
        margin-left: 2px!important;
    }
    .main-menu-list{
        position: absolute;
        z-index: 1000;
        background: #fff;
        width: 100%;
        top:80px;
        padding: 12px 0;
        border-bottom: 2px solid #cfcbcb;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .main-menu-list ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .main-menu-list ul li {
        padding: 6px 12px 6px 12px;
    }
    .main-menu-list ul li a{
        color: rgb(54, 52, 52);
    }
    .mobile-main-menu .menu button:first-child{margin-right: 15px!important;}
    .footer{
        text-align: left;
        font-size: .8em;
        color: #aaa;
        background: #f1f1f1;
    }
    .footer ul{
        margin: 0!important;
        padding: 0!important;
    }
    .footer ul li{
        display: block;
        border: none;
    }
    .footer ul li a{
        display: block;
        border: none;
        font-size: .9em!important;
    }
    .footer .social-menu{
        width: 90%;
        margin: auto;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .footer .social-menu ul{
        display: inline;
    }
    .footer .social-menu ul li{
        display: inline-block;
    }
    .footer .brand img{
        width: 150px;
        margin: 0;
        padding: 0;
    }
    .footer .copyright{
        font-size: .9em;
        text-align: center!important;
    }
    #basic-main-menu{display: none;}
    #profile-main-menu{display: none;}
    /** Slider **/
    .slide-1{ text-align: center; }
    .slide-1 h1{ font-size: 1.4em; }
    .slide-2 table{ 
        width: 90%;
        margin: auto;
        padding: 0;
        border: none;
        text-align: center;
    }
    .slide-2 table tr{
        display: block!important;
        min-width: 100%;
        padding: 32px 0;
        margin: auto;
        position: relative;
        border-bottom: 1px solid #c1c1c1;
    }
    .slide-2 table td{ 
        display: block; 
        min-width: 100%;
    }
    .slide-2 .slide-delimiter{
        border: none!important;
        padding: 0!important;
    }
    .slide-2 .slide-desc{
        width: 90%;
        margin: auto;
        margin-top: 12px;
        padding: 32px 0!important;
    }

    .def-input{
        width: 94%;
        margin: auto;
    }
    .def-cla-input{
        width: 100%;
        margin: auto;
    }
    .def-agree-btn{
        margin: auto;
        width: 100%;
    }
    .def-btn{
        margin: 0!important;
        width: 100%;
        
    }
    .forget-pass{
        margin-top: 20px!important;
        display: block;
    }

    .web-content{
        padding-top: 50px;
    }
    .def-table thead{
        display: none;
    }
    .def-table{
        width: 98%;
        margin: auto;
        padding: 0;
    }
    .def-table tr:nth-child(odd){
        background: none!important;
    }
    .def-table tr{
        display: block;
        width: 100%;
        margin: 20px 0;
        border-radius: 12px;
        box-shadow: 0 0 5px #aaa;
        padding: 12px;
    }
    .def-table td{
        display: block;
        width: 100%;
    }
    .def-table td:fist-child{
        border-top: none!important;
    }
    .only-desktop{
        display: none;
    }

    .cookie-content{
        width: 90%;
        padding: 30px;
        margin: auto;
        margin-top: 80px;
    }

}